<apex:page standardController="Account" docType="html-5.0" showheader="{!(!$Setup.GeneralSettings__c.GlobalHeaderPermUsed__c || !$Permission.SBQQ__HideGlobalHeader)}" standardStylesheets="false" title="{!$Label.sbqq__lbl_asset_selection}">
	<script src="/soap/ajax/31.0/connection.js" type="text/javascript"></script>
	<script src="/soap/ajax/31.0/apex.js" type="text/javascript"></script>
	<script type="text/javascript" src="{!$Resource.jQuery}"></script>
	<script type="text/javascript" src="{!$Resource.jQueryUI}"></script>
	<script type="text/javascript" src="{!URLFOR($Resource.AngularJS,'angular.min.js')}"></script>
	<script type="text/javascript" src="{!URLFOR($Resource.AngularJS,'angular-sanitize.min.js')}"></script>
	<script type="text/javascript" src="{!URLFOR($Resource.AngularJS,'/i18n/angular-locale_en-us.js')}"></script>
	<script type="text/javascript" src="{!$Resource.AngularDnD}"></script>
	<script type="text/javascript" src="{!$Resource.UIBootstrap}"></script>
	<script type="text/javascript" src="{!$Resource.Directives}"></script>
	<script type="text/javascript" src="{!$Resource.UI}"></script>
	<script type="text/javascript" src="{!$Resource.WebUI}"></script>
	<script type="text/javascript" src="{!$Resource.HtmlSanitizer}"></script>
	<script type="text/javascript" src="{!$Resource.RemotingServiceProxies}"></script>
	<script type="text/javascript" src="{!$Resource.InfiniteScroll}"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			var quoteName = '{!JSENCODE($CurrentPage.name)}';
			var namespace = (quoteName.toLowerCase().substring(0,4) == 'sbqq') ? 'SBQQ' : '';
			qqBootstrapWeb({namespace:namespace,sessionId:'{!JSENCODE($API.Session_ID)}',sitePrefix:'{!$Site.Prefix}'});
			document.getElementById('qq').style.display = 'block';
		});
	</script>

	<div id="qq" style="display: none">
		<div id="mainContent" rendered="">
			<form id="mainForm" name="mainForm">
				<c:assetLookup headerTitle="{!$Label.sbqq__lbl_asset_selection}" headerSubtitle="{!Account.Name}" accountId="{!Account.Id}" assetFromAccount="true" assetAmend="true"/>
			</form>
		</div>
	</div>
</apex:page>